.comment
  .comment-image
    = image_tag "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png"
  .comment-content
    %p
      .comment-username= comment.user.username
      = comment.body.html_safe

    %p.comment-detail
      - if current_user.present?
        %a.create_reply Create reply
      = "View replies (#{comment.comments.count})"
    - if current_user.present?
      .hidden= render "reply_form"
