= form_for discussion do |f|
  %fieldset
    = f.label :question
    = f.text_field :question

    = f.label :course
    = f.select :course_id, options_for_select(courses.collect { |course| [course.name.titleize, course.id] }, 1), {}

    = f.label :description
    = f.trix_editor :description, id: "description_editor"

    - if current_user.access_rights?(4)
      = f.label :admin_notes
      = f.trix_editor :admin_notes, id: "admin_note_editor"

  %fieldset.actions
    = f.submit "Save"
