.discussion-index
  %h1.header Top Discussions
  - if current_user.present?
    = link_to new_discussion_path do
      %button Create Discussion

  .discussions
    - discussions.each do |disc|
      .discussion
        .logistics
          .votes
            .vertical-align
              %span.vote-counter= disc.vote_count
              %p.sub-cont Votes
          .replies
            .vertical-align
              = disc.comments.count
              %p.sub-cont Replies
        .disc-content
          .question= link_to disc.question, discussion_path(disc.id)
          .details
            %span.tag
              - if disc.course.present?
                = link_to disc.course.course_code, course_path(disc.course.id)

            .poster
              %div
                = "asked #{distance_of_time_in_words(disc.created_at, DateTime.now)} ago by"
                %span.username= disc.user.username
