%h1 Overview
= link_to "Create FAQ", new_faq_path
= link_to "Create Course", new_course_path

.panel.primary
  .panel-header
    %h1 FAQS
  .panel-body
    .faqs
      - faqs.each do |faq|
        .faq
          %p= link_to faq.question, faq_path(faq.id)
          %p= faq.answer.html_safe

.panel.primary
  .panel-header
    %h1 Course
  .panel-body
    .courses
      - courses.each do |course|
        .course
          %p= link_to course.name, course_path(course.id)
          %p= course.description
