%header.navigation{:role => "banner"}
  .navigation-wrapper
    %a.logo{:href => "javascript:void(0)"}
      %img{:alt => "Logo Image", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png"}/
    %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} MENU
    %nav{:role => "navigation"}
      %ul#js-navigation-menu.navigation-menu.show
        %li#js-navigation-more.nav-link.more
          %a{href: "javascript:void(0)"} Courses
          %ul.submenu
            %li
              = link_to courses_path(type: "core") do
                Core
                %i.fa.fa-microchip
            %li
              = link_to courses_path(type: "tech_elective") do
                Tech
                %i.fa.fa-desktop
            %li
              = link_to courses_path(type: "breadth_elective") do
                Breadth
                %i.fa.fa-balance-scale

        %li#js-navigation-more.nav-link.more
          %a{href: "javascript:void(0)"} Discussions
          %ul.submenu
            %li
              = link_to discussions_path do
                Discussion Board
                %i.fa.fa-users
            %li
              = link_to professors_path do
                Professors
                %i.fa.fa-user-secret

        - if current_user.present?
          %li#js-navigation-more.nav-link.more
            %a{href: "javascript:void(0)"} Actions
            %ul.submenu
              %li
                = link_to root_path do
                  Profile
                  %i.fa.fa-user-circle
              %li
                = link_to sign_out_path, method: :delete do
                  Sign Out
                  %i.fa.fa-sign-out

          - if current_user.access_rights?(4)
            %li.nav-link= link_to "Overview", overview_admins_path
        - else
          %li.nav-link
            = link_to log_in_path do
              Sign In
              %i.fa.fa-sign-in
        %li.nav-link
          = link_to faqs_path do
            FAQ
            %i.fa.fa-question-circle
    .navigation-tools
      .search-bar
        %form{:role => "search"}
          %input{:placeholder => "Enter Search", :type => "search"}/
          %button{:type => "submit"}
            %i.fa.fa-search
